# Strava API credentials
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
SECRET_KEY=your_secret_key # MUST be a strong, random string
TOKEN_URL=https://www.strava.com/oauth/token
AUTH_BASE_URL=https://www.strava.com/oauth/authorize

# Database and Log Storage Configuration
PERSISTENT_DATA_DIR=/var/data  # Example for Render persistent disk mount point
DATABASE_FILENAME=activities.db

# Rate limiting
# RATELIMIT_STORAGE_URI=memory:// # Use for local development if Redis is not running
RATELIMIT_STORAGE_URI=redis://your_valkey_internal_host:6379 # Replace with your Render Valkey/Redis Internal Connection String

# ENVIRONMENT can be 'dev' or 'prod'
# dev: enables debug mode and allows HTTP for OAuth
# prod: requires HTTPS and disables debug features
ENVIRONMENT=dev