CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
SECRET_KEY=your_secret_key
TOKEN_URL=https://www.strava.com/oauth/token
AUTH_BASE_URL=https://www.strava.com/oauth/authorize
SQLALCHEMY_DATABASE_URI=sqlite:///your_database_name.db
# RATELIMIT_STORAGE_URI=redis://host.docker.internal:6379/0
RATELIMIT_STORAGE_URI=memory://

# ENVIRONMENT can be 'dev' or 'prod'
# dev: enables debug mode and allows HTTP for OAuth
# prod: requires HTTPS and disables debug features
ENVIRONMENT=dev