# Environment
/.venv/
/venv/
.env

# Python
/__pycache__/
*.py[cod]

# Logs
/logs/
*.log

# Media files
*.jpg
*.png

# Editor/IDE specific
/.cursor/
/vscode/
/.idea/

# Databases
/db/
/instance/
/activities/
*.db